<ion-view title="Update Status" id="page15">
  <ion-content padding="true" class="has-header">
  		<h3 ><i class="glyphicon glyphicon-edit"></i> Form No : {{hands._id}}</h3>
		  <br>
		  <form name="myForm">
		   <!-- <h4>Findings: </h4> -->
		  <!--  <label class="item item-input text">
           	   	<textarea ng-model="envi.envi_findings" required></textarea>
           </label> -->
           <br>
           <ion-item class="item-divider">Validate Report</ion-item>
		        <label class="item item-select">
		        	<span class="input-label">Status of the Findings</span>
			        <select name="repeatSelect" ng-model="hands.stat_id" required>
					     <option ng-repeat="x in statuss" name="ecrit" value="{{x.stat_id}}">{{x.stat_desc}}</option>
					 </select>
		        </label>

		        <!-- <label class="item item-input" id="register-input6">
	               <span class="input-label">Score:</span>
		           <input type="number" name="score" placeholder="Enter Score" ng-model="user.user_fname" required>
					
					<input type="number" ng-model="envi.envi_score" name="score" ng-pattern="/^[0-9]{1,7}$/" required> 		
 		        </label> -->
		   <button id="environment-button5" class="button button-balanced button-flat ink button-block icon ion-flag" data-ink-color="#84ffbf" data-ink-opacity=".6" ng-click="saveHands(hands)" ng-disabled="myForm.$invalid"> Update and Validate </button>
  		</form>
  </ion-content>
</ion-view>