<ion-view title="Health and Safety Reports" id="page15">
  <!-- <ion-nav-buttons side="left" class="has-header">
    <button class="button button-clear button-icon icon ion-stats-bars"></button>
  </ion-nav-buttons> -->
 
  <ion-content padding="true" class="has-header">
  			<ion-refresher icon="spiral" on-refresh="doRefresh()">
            </ion-refresher>
            
		   
			<!--  <ion-list>
			          <a class="item">
				          <div class="list card">
				           	  <h3 class="bold">Form No: {{x.hands_id}}</h3>
				              <div class="item item-avatar stable-bg">
				              		<img src="img/jd.jpg">
								   	 Submitted By:<h3 class="bold"> {{x.user_fname}}  {{x.user_lname}} - {{x.farms_desc}}</h3>
								   	 Date:<h4 class="bold"> {{x.hands_date}}</h4>
								   	 Week No: <h4 class="bold">{{x.hands_weekno}}</h4> -->
								   	<!--  <span class="label label-success" ng-if="x.envi_rate == 'Yes'">Not yet Validate</span>	
								     <span class="label label-danger" ng-if="x.envi_rate == 'No'">Validated</span> -->
				          	 <!--  </div>
						      <img class="full-image" src="img/1.jpg">
			              	  <div class="item item-body stable-bg">
							     <b>Findings:</b>
							     <p>
							      {{x.hands_findings}}
							     </p>

							     <hr>
						         <p>
						          <h4 class="hey"><i class="icon ion-star"></i>
						          Tap to Validate </h4> 
							     </p>
						     </div>
			              </div>
			          </a>
			 </ion-list> -->
  </ion-content>
</ion-view>