<ion-view title="Health and Safety" id="page2" style="background-color:#FFFCFC;" >
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-clipboard"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <ion-item class="item-divider">Evidence</ion-item>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="healthAndSafety-button-bar1" class="button-bar">
      <button id="healthAndSafety-button10" class="button button-calm  button-block icon ion-ios-upload-outline"> Upload</button>
      <button id="healthAndSafety-button11" class="button button-assertive  button-block icon ion-close-round"> Clear</button>
    </div>

    <ion-item class="item-divider">Report Forms</ion-item>
    <form id="healthAndSafety-form13" class="list">
      <ion-list id="healthAndSafety-list4">
        <label class="item item-input" id="healthAndSafety-input26">
          <span class="input-label">Week No</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="healthAndSafety-select9">
          <span class="input-label">Parameters to Inspect</span>
          <select></select>
        </label>
        <label class="item item-select" id="healthAndSafety-select10">
          <span class="input-label">Farm</span>
          <select></select>
        </label>
        <label class="item item-select" id="healthAndSafety-select11">
          <span class="input-label">Evidence</span>
          <select></select>
        </label>
        <label class="item item-input" id="healthAndSafety-textarea3">
          <span class="input-label">Findings</span><textarea placeholder=""></textarea></label>
        <label class="item item-input" id="healthAndSafety-input28">
          <span class="input-label">Weeks</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="healthAndSafety-select12">
          <span class="input-label">Select</span>
          <select></select>
        </label>
      </ion-list>
      <button id="healthAndSafety-button6" class="button button-balanced  button-block icon ion-android-send"> Submit</button>
    </form>
   
  </ion-content>
   
</ion-view>